@model WebMvc.Models.LoopEditModel
@{
    ViewData["Title"] = "Edit Loop";
}
<a asp-action="ViewLoop">Back</a>
<div class="row d-flex flex-column align-items-center text-center gap-4">
    <h2>Edit Loop</h2>
    <div class="col-md-4">
        <form asp-action="EditLoop" class="form fs-4 fw-bold border d-flex flex-column gap-4 p-2 rounded">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
