
@{
    ViewData["Title"] = "Bus Log";
}
<div class="container d-flex gap-5 justify-content-center">
<div> <a style="font-size: 40px;"  class="bg-success btn text-white text-decoration-none" asp-action="ViewDriverConfig">DRIVER</a></div>
<div ><a style="font-size: 40px;" class="bg-primary btn text-white text-decoration-none" asp-action="ViewManager">MANAGER</a></div>
</div>
  


