
@{
    ViewData["Title"] = "Bus Log";
}
<div class="container d-flex gap-5 justify-content-center">
<div > <a class="btn-lg bg-success text-white text-decoration-none" asp-action="ViewDriver">DRIVER</a></div>
<div ><a class="btn-lg bg-primary text-white text-decoration-none" asp-action="ViewManager">MANAGER</a></div>
</div>
  


