@model WebMvc.Models.RegisterCreateModel

<form asp-action="Register" class="form  d-flex flex-column fs-2 gap-2">
    <div class="d-flex flex-column ">
        <input asp-for="UserName" placeholder="Username" class="text-center form-control fs-2" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="d-flex flex-column ">
        <input asp-for="Password" type="password" placeholder="Password" class="text-center form-control fs-2" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="d-flex flex-column">
        <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password"
            class="text-center form-control fs-2" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <button type="submit" class="btn btn-outline-success fs-2 form-control">Signup</button>
    <div class="fs-4 text-center">Already have an account? <a asp-action="Login" class="text-decoration-none">Sign in</a></div>
</form>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
    <ul>
        @foreach (var key in ViewData.ModelState.Keys)
            {
                foreach (var error in ViewData.ModelState[key].Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>