@model IEnumerable<WebMvc.Models.StopViewModel>
@{
    ViewData["Title"] = "Entries";
}
<div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="EditStop" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container d-flex justify-content-center">
<a class="btn text-decoration-none btn-danger" asp-action="CreateStop">Create Stop</a>
</div>


