@model IEnumerable<WebMvc.Models.BusViewModel>
@{
    ViewData["Title"] = "Entries";
}


<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusNumber)
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BusNumber)
                </td>
                <td>
                    <a asp-action="EditBus" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container d-flex justify-content-center">
<a class="btn text-decoration-none btn-danger" asp-action="CreateBus">Create Bus</a>
</div>