@model IEnumerable<WebMvc.Models.LoopViewModel>
@{
    ViewData["Title"] = "Entries";
}


<table class="table table-striped table-bordered fs-5 fw-bold">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="EditLoop" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container d-flex justify-content-center">
<a class="btn text-decoration-none btn-danger" asp-action="CreateLoop">Create Loop</a>
</div>